<div class="container mt-5">
  <div class="row mb-4">
    <div class="col text-center">
      <h1 class="display-4 fw-bold">Sign your dog up today!</h1>
      <p class="lead text-muted">Create a profile and connect with the perfect walking buddy for your furry friend.</p>
    </div>
  </div>

<div class="card bg-white my-3 px-3 py-3">
  <%= render "form", dog: @dog %>
</div>
