<div class="container">
  <h1>Your upcoming Bookings</h1>
  <p>You have <%= @bookings.count %> upcoming walks!</p>
  <% @bookings.each do |booking| %>
    <div class="card" style="width: 18rem;">
      <img src="/assets/dog.JPG" alt="lovely doggo">
      <div class="card-body my-3 px-3 py-3">
        <h5 class="card-title"><%= booking.date %></h2>
        <p class="card-text">Going on a walk with: <%= booking.dog.name%></p>
        <p class="card-text"><%= booking.dog.breed %></p>
      </div>
    </div>
  <% end %>
</div>
