.dog-card {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
}
.dog-card-body {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.dog-card img {
  object-fit: cover;
}

.dog-card .card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.dog-card-body h5 {
  background-color: #DBE9DD;
  border-radius: 3px;
  border: 1px solid #B5D2B9;
  box-sizing: border-box;
  color: #1A5422;
  display: inline-block;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.container.mapbox p {
  font-size: 14px;
  font-family: nunito;
  color: #47494b
}

.container.mapbox .btn {
  font-size: 16px;
  font-family: nunito;
}

.dog-card p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 12px;
}

.dog-show {
  margin-bottom: 12px;
  margin-top: 12px;
}

.dog-show p {
  font-size: 16px;
  line-height: 1.4;
}

.dog-show-container {
  text-align: center;
}

.dog-info {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(150, 150, 150, 0.2);
}

.dog-info h3 {
  font-size: 16px;
  font-weight: bold;
  color: #6C7075;
  margin-bottom: 8px;
}

.dog-info p {
  font-size: 16px;
}

.dog-info .btn {
  margin-top: 15px;
  font-size: 14px;
  padding: 8px 16px;
}
